<div> 
	<h1> Welcome to the New Secret Santa website </h1>
	<p>You can create a list for an event like christmas!</p>
	<p>Invite your familly and friends</p>

	<h2>List reminder of things to do</h2>
	<p>make everything to create list and wishes</p>
	<p>Write a descent descrition</p>
	<p>create logic to randomly assign people to each other</p>
	<p>make this function to assign only available to admin of list<p>
	<p>Do we need to save drawing?</p>
	<p>Should the list be save if event done</p>
	<p>Need to figure out how to send email from website, like confirmation email</p> 



	<h1>Please Login</h1>
	<%=@error if @error %>
	<%= render 'form' %>

<div>	